.container {
  width:1080px;
  margin:0px auto;
  font-size:1em;
  font-family: "Arial", Georgia, Serif;
  font-size: 15px;
}
header {
  text-align:center;
  border: 1px solid #666;
  background: #cccccc;
}
a {
  color: #333;
  text-decoration: none;
}
section,aside {
  margin-top: 5px;
  padding: 10px;
  -moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;
}
section {
  float: left;
  width: 70%;
  background: #fafafa;
  border: 1px solid #ccc;
}
aside {
  float: right;
  width: 25%;
  background:#ccc;
  color: #333;
}
nav {
  padding:0.2%;
  background:#f06156;
  margin-top: 0.5%;
}
nav ul {
  list-style-type:none;
  padding:0px;
  width: 100%;
  display: table;
  text-align: center;
}
nav ul li {
  display: inline;
}
nav ul li:hover {
  background-color: #ccc;
  text-decoration: underline;
}
nav ul li a {
 display:inline-block;
 text-align:center;
 text-decoration:none;
 color: #75302a;
 font-weight: bold;
  padding:6px 15px;
  margin:2px;
  background:#fafafa;
  -moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;
}

                        /*  UNIDAD I */

.agenda {
  width: 50%;
  height: 150px;
  margin: 10px;
  padding: 10px;
  background-color: #dce9be;
  font-size: 15px;
  font-weight: bold;
  text-align: center; 
}
.unidad1 {
  background-color: transparent;
  display:contents;
  
}
.btn_unidad1 {
  width: 55px;
  margin-right: -300px;
  text-align: center; 
}  
.u-1 {
  width: 120px;
}
.u-2 {
  width: 90px;
}
  
.btn_9 {
  background-color: #e00202;
  color: #000;
  border: 2px solid #4CAF50;
  -moz-border-radius:15px;-webkit-border-radius:15px;-o-border-radius:15px;border-radius:15px;
  margin-left: 170px;
}
.btn_9:hover {
  background-color: #750b79;
  color: #cccccc;
}


                        /* UNIDAD 2 */   
.unidad_2 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.trabajo2 {
  background-color: #a4eeea;
}

.unidad2 {
  background-color: rgba(145, 228, 67, 0.2);
  box-shadow: #ee4 10px;
  width: 150px;
  text-align: center;
}

h6 {
  color: #000;
  background-color: #afea24;
  text-align: center;
  margin: 10px;
  -moz-border-radius:15px;-webkit-border-radius:15px;-o-border-radius:15px;border-radius:15px; 
}


                        /* UNIDAD 3 */
                          /* UL */
#coment {
  background-color: #b8f341;
  -moz-border-radius:15px;-webkit-border-radius:15px;-o-border-radius:15px;border-radius:15px;
}
                          /* LI */
.datos {
  font-size: 15px;
  color: #5e5c5c;
  list-style: none;
  margin: 1px;
  padding: 5px; 
  margin-left: auto;
  margin-right: auto;
}

                   /* TITULO COMENTARIOS */
.comentarios {        
  text-align: center;
  color: #ec1e5c;
}
.container {
  width: 70%;
}
.btn_3 {
  background-color: #afea24;
  color: #000;
  border: 2px solid #4CAF50;
  -moz-border-radius:15px;-webkit-border-radius:15px;-o-border-radius:15px;border-radius:15px;
  margin-left: 170px;
}
.btn_3:hover {
  background-color: #4CAF50;
  color: #cccccc;
}
.unidad3 {
  display: block;
  margin: 0 auto;
}
.casillero {
  background-color: #cbe9f7;
}
.casillero:hover {
  background-color: #ffffff;
}        
.etiqueta {
  color: #476403; 
}            

.form_3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  background-color: #ff0000; /* Para navegadores que no admiten gradientes */
  background-image: linear-gradient(#ff0000, #ffff00);
  -moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;border-radius:10px;
}

.form_tres {
  background-color: #a87dec; /* Para navegadores que no admiten gradientes */
  background-image: linear-gradient(#a87dec, #ffff00);
  -moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;border-radius:8px;
}

.form_III {
  background-color: #a87dec; /* Para navegadores que no admiten gradientes */
  background-image: linear-gradient(#a87dec, #ffff00);
  -moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;border-radius:8px;
}

.form_tree {
  background-color: #a87dec; /* Para navegadores que no admiten gradientes */
  background-image: linear-gradient(#a87dec, #ffff00);
  -moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;border-radius:8px;
}

 
                      /*            */
                      /* UNIDAD IV  */  

.unidad4 {
  text-align: center;
  font-size: 30px;
  font-family:'Courier New', Courier, monospace; 
  color: #006400;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-shadow: 1px 1px #FF0000;
}

.respuesta {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
#m_a {
  text-align: center;
  padding: 10px;
}
.img_u4 {
  width: 360px;
  object-fit: contain;
}
.agua {
  width: 360px;
  object-fit: contain;
}
.img_texto {
  width: 360px;
  object-fit: contain;
}

                  /*                 */
                  /*    UNIDAD V     */
                           /* CONSULTAS */
#consultas {
  margin-top: 1px;
  padding: 3px;
}

                        /* TITULO FORMULARIO  */
#unidad5 {
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -moz-border-radius:15px;-webkit-border-radius:15px;-o-border-radius:15px;border-radius:15px;
  padding: 10px;
  box-shadow: 5px 15px 15px 5px #610404 inset;
  text-shadow: 0 0 3px #FF0000, 0 0 3px #FF0000, 0 0 3px #FF0000, 0 0 3px #FF0000, 0 0 3px #FF0000;
  margin-top: -20px;
}
                         /* FORMULARIO */
.unidadV {
  text-align: center;
  margin-top: -10px;
}
                         /*  CAPTCHA   */

.u_5 {
  display: inline-block;
  padding: 5px;
  -moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;border-radius:10px;
  width: 80px;
  background-color: #b7ecc9;
}

.unidad_5_ {
   text-align: center;
   background-color: #d7fad8;
}

.uni_5 {
  display: inline-block;
  margin-bottom: 50px;
  padding-left: 50px;
}
.unida_5 {
  display: inline-block;
  margin-left: 10px;
}

.color_tit {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  background-color: #afea24;
  
}

                                /*  END  */
                            /*   UNIDAD VI    */
                            
.unidad6 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #a7d25d;
  font-size: 25px;
  box-shadow: 5px 5px 6px #ea69ea, 8px 10px 6px #5c0404, 11px 15px 6px #07722a;
  width: 150px;
}                            

.nombre {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  font-size: 20px;
  font-weight: 40px;
  color: #ea69ea;
}
.apellido {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  font-size: 20px;
  font-weight: 40px;
  color: #5c0404;
}
.edad {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  font-size: 15px;
  font-weight: 40px;
  color: #07722a;
}
.edad6 {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  font-size: 15px;
  font-weight: 40px;
  color: #07722a;
}
.u-6 {
  text-decoration-line: underline;
  text-decoration-style: double; 
}

                           /*                 */                    
                           /*   UNIDAD VII    */

.u_7 {
  margin-left: 180px;

}

                            /*   UNIDAD VIII   */
                            /* Ejercicio N째 1 */ 
.ejerccicio1 {
  background-color:rgb(8, 128, 72);opacity:0.7;
  color: #1a0909; 
  width: 48%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.ejerccicio_1 {
  background-color:rgb(235, 183, 14);opacity:0.7;
  color: #1a0909; 
  width: 46%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.unidad-8 {
  display: block;
  margin: 0 auto;
}
.unidad_8 {
  background-image: linear-gradient(to right, #ff0000,#ffa500,#ffff00,#5df55d,rgb(124, 124, 243),rgb(156, 41, 238),#ee82ee);
  width: 60%;
  text-align: center;
  font-weight: 600;
}
                           /* Ejercicio N째 2 */

#paginador {
  text-align: center;
  font-size: 30px;
  color: #0c737a77;
  box-shadow: 5px 10px 8px 10px #0c737a77;
  border: 1px solid red;
}   
.paginador {
  background-color: #d5a7d3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%2333e6fb' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  text-align: center;
  -moz-border-radius:15px;-webkit-border-radius:15px;-o-border-radius:15px;border-radius:15px;
}           
.paginador-1 {
  margin: 0 auto;
  width: 50%;
}             
.paginador_1 {
  margin-top: 10px;
  width: 180px;
}


                           /* Ejercicio N째 3 */ 
.ejercicio3 {
  width: 58px;
  height: 25px;
  color: #000;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  -moz-border-radius:20px;-webkit-border-radius:20px;-o-border-radius:20px;border-radius:20px;
  font-size: 20px;
  text-align: center;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:rgb(150, 57, 4); left:120px; top:0px;}
  50%  {background-color:rgb(27, 176, 245); left:120px; top:120px;}
  75%  {background-color:green; left:0px; top:120px;}
  100% {background-color:rgb(35, 240, 46); left:0px; top:0px;}
}


.pdf {
  width: 10%;
  margin: 64px;
  margin-top: 10px;
}
.unidad8 {
  font-size: 6px;
  color: #f534cb;
}
                
                           /* Ejercicio N째 4 */

.ejercicio4 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 4px #888888;
  text-align: center;
}

.ejercicio_4 {
  display: block;
  margin: 0 auto;
  
}

footer {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0px 10px 0px;
  background-color: #333;
  text-align: center;
}
footer a {
  color: #fff;
}

h2 {
  color: #f06156;
}
/* pantalla maximo 980px */
@media screen and (max-width:980px) {
  .container {
    width:98%;
  }
  section {
    width:68%;
  }
}
 
/* pantalla maximo 700px */
@media screen and (max-width:700px) {
  aside,section {
    float:none;
    width:96%;
    font-size:1.2em;
  }
  nav, section {
    font-size:1.2em;
  }
  aside {
    margin-top:5px;
    background:#333;
    color: #fff;
  }
  nav ul {
    float:none;
    clear:both;
  }
}
 
 
/* pantalla maximo 480px */
@media screen and (max-width:480px) {
  aside {
    display:block;
    background:#333;
    color: #fff;
    font-size:1.5em;
  }
  nav, section {
    font-size:1.5em;
  }
  section {
    width:94%;
  }
  nav ul {
    display: table;
    text-align: center;
    float: none;
    width:100%;
  }
  nav ul li {
    float:none;
  }
}